body {
    background: #513949;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #E7D2C1;
}

@media only screen and (max-device-width: 480px){
    body {
        font-size: 14px;
    }
    .question-head{
        visibility: hidden;
        height: 0px;
    }
}

.content-main{
    background: #2B0521;
    width: 480px;
}

@media only screen and (max-device-width: 480px){
    .content-main{
        width: 100%;
    }
}
.floatlarge{
    float: left;
    font-size: 3em;
    margin: 5px;
}
.floatlargeR{
    float: right;
    font-size: 3em;
    margin: 5px;
}
.progress {
    background-color: #E7D2C1;
    background-image: linear-gradient(to bottom, #E7D2C1, #E7D2C1);
    height: 1.5em;
}
.progress-bar {
    background-image: linear-gradient(to bottom, #4D626B, #4D626B);
}

.resultsbar {
    background-color: #2B0521;
    background-image: linear-gradient(to bottom, #2B0521, #2B0521);
    height: 1.5em;
    margin: 2px;
}
.resultsbar .progress-bar {
    background-image: linear-gradient(to bottom, #A54E57, #A54E57);
    color: #E7D2C1;
    border-radius: 4px;
}

.content-panel{
    border-width: 0px 10px 5px 10px;
    border-color: #2B0521;
    border-style: solid;
    padding: 10px;
}
.head-panel {
    background: #4D626B;
    text-transform: uppercase;
    text-align: center;
}
.ready-panel {
    background: #513949;
    text-transform: uppercase;
    text-align: center;
}
.entry-panel {
    background: #A54E57;
}
.question-panel {
    background: #A54E57;
    height:8em;
}
.response-panel {
    background: #A54E57;
}
.result-panel {
    background: #A54E57;
}

.start-panel {
    background: #52878A;
    color: #E7D2C1;
    text-transform: uppercase;
    text-align: center;
}
.start-panel a {
    color: #E7D2C1;
    display: block;
}

.head-panel h1 {
    font-size: 3.5em;
    font-weight: 100;
}
.head-panel strong {
    font-weight: 900;
}
.alert-panel {
    background: #A54E57;
    text-transform: uppercase;
}
.explain-panel {
    background: #E7D2C1;
    color: #513949;
}
#scale{
    align-content: center;
    position: relative;
}
#scale li {
    background: #52878A;
    color: #E7D2C1;
    display: block;
    padding: 5px 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}
#scale .right {
    margin-left: 20%;
    margin-right: 20%;
}
#scale .vertical {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
    float: left;
/*    top: 40px;
    left: 50px;*/
    position: absolute;
    transform:rotate(270deg);
    -transform-origin: 100% 100%;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
}
/*
@-moz-document url-prefix() {
    #scale .vertical {
    top: 75px;
    left: 75px;
}
}  */
.question-button{
    background: #52878A;
    color: #E7D2C1;
    display: block;
    padding: 5px 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
    height: 4em;
    width: 100%;
}
.question-button span {
    visibility: hidden;
}

.question-yes{
    background: #E7D2C1;
    color: #4D626B;
}
.question-yes span {
    visibility: visible;
}

.navigate-panel {
    height: 3em;
}
.nav-btn {
    height: 3em;
    width: 6em;
    color: inherit;
    background: inherit;
    border: none;
}
.nav-btn:disabled {
    color: #000000;
}
.next-btn{
    float: right;
}
.previous-btn{
    float: left;
}
