body {
    background: #513949;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #E7D2C1;
}
.content-main{
    background: #2B0521;
    width: 500px;
}
.content-panel{
    border-width: 0px 10px 5px 10px;
    border-color: #2B0521;
    border-style: solid;
    padding: 10px;
}
.head-panel {
    background: #4D626B;
    text-transform: uppercase;
    text-align: center;
}
.ready-panel {
    background: #513949;
    text-transform: uppercase;
    text-align: center;
}
.question-panel {
    background: #A54E57;
}
.start-panel {
    background: #52878A;
    color: #E7D2C1;
    text-transform: uppercase;
    text-align: center;
}
.start-panel a {
    color: #E7D2C1;
    display: block;
}

.head-panel h1 {
    font-size: 3.5em;
    font-weight: 100;
}
.head-panel strong {
    font-weight: 900;
}
.alert-panel {
    background: #A54E57;
    text-transform: uppercase;
}
.explain-panel {
    background: #E7D2C1;
    color: #513949;
}
#scale{
    align-content: center;
}
#scale li {
    background: #52878A;
    color: #E7D2C1;
    display: block;
    padding: 5px 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}
#scale .right {
    margin-left: 20%;
    margin-right: 20%;
}
#scale .vertical {
    position: relative;
    top: -20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
    float: left;
    margin-left: -20%;
    transform:rotate(270deg);
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    -transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}
.question-button{
    background: #52878A;
    color: #E7D2C1;
    display: block;
    padding: 5px 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.question-button:hover{
    background: #A5C4B9;
    color: #4D626B;
}
.question-yes{
    background: #E7D2C1;
    color: #4D626B;
}
.next-btn{
    float: right;
}
.previous-btn{
    float: left;
}
