<h2>Welcome to the Spiritual Gifts Survey</h2>
<div>
    <p>Please allow approximately X minutes to take this inventory.</p> 
    <p> This app will show you 102 statements that you will answer using the following scale (Honestly evaluate each of the statements based on your heart or how passionate you are about each area, assuming that you have all the experience and training necessary to accomplish the task.)</p>
    <ul>
        <li>Very Passionate about it</li>
        <li>I really enjoy it</li>
        <li>I sometimes enjoy it</li>
        <li>Not usually for me</li>
        <li>Definitely not me</li>
    </ul>
    <p>When you have completed all the questions, you'll submit your answers, the app will calculate your preference score and your top 3 spiritual gifts
        will be sent to you. Your report will also be sent to Summer Sipes, Director of Connections at Frisco Bible Church to assist in matching your giftedness with areas of service in the church.</p>
    <a class="btn btn-large" href="questions" >Let's Get Started</a>
</div>