<div>
    <div class="head-panel content-panel"><h3><strong>Spiritual Gifts</strong></h3><h3>Inventory</h3></div>
    <div class="alert-panel content-panel"><span  class="glyphicon glyphicon-time floatlarge"></span ><p>Please allow approximately <strong>20 minutes</strong> to take this inventory</p></div>
    <div class="explain-panel content-panel">
        <div>
        <p> This Spiritual Gifts Inventory will show you 102 statements that you will answer using the following scale.
        Honestly evaluate each of the statements based on your heart or how passionate you are about each area,
        assuming that you have all the experience and training necessary to accomplish the task.</p>
        </div>
        <div>
        <div id="scale">
            <div><h3>Scale</h3></div>   <!-- class="vertical"-->
            <div class="right">
                <ul>
                    <li>Love it!</li>
                    <li>Enjoy it.</li>
                    <li>OK with it</li>
                    <li>Not so much.</li>
                    <li>No way!</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="ready-panel content-panel"><h3>Ready to begin?</h3></div>
    <div class="entry-panel content-panel">
        <p>Email (where we send the results):<br><input type="email" name="surveyEmail" ng-model="surveyquestions.surveyEmail" required></p>
        <p>Name:<br><input type="text" name="surveyName" ng-model="surveyquestions.surveyName" required></p>
    </div>
    <h1><a class="btn start-panel content-panel" href="questions" >Start Inventory</a></h1>
    <div class="ready-panel content-panel"><p>When you have completed all the questions, you'll submit your answers, the app will calculate your preference score and your top 3 spiritual gifts
        will be sent to you. Your report will also be sent to Summer Sipes, Director of Connections at Frisco Bible Church to assist in matching your giftedness with areas of service in the church.</p>
    </div>
</div>