<div class="head-panel question-page content-panel"><strong>Spiritual Gifts</strong> Inventory</div>
<!--<p><strong>Honestly evaluate the statement based on your interest.</strong><p>-->
<div class="container-fluid">
<div class="row-fluid">
    <div class="content-panel question-panel">
        <p>How do I feel about </p>
        <question></question>
    </div>
    <div class="content-panel ready-panel">
        <p class="question-head">Your response</p>
        <question-choice ng-model="activeQuestion"></question-choice>
        <p>Touch your choice to proceed</p>
    </div>
    <div class="content-panel response-panel">
        <previous-next></previous-next>
    </div>
</div>
</div>
<progressbar max="questionlist.length" value="currentQuestion">{{currentQuestion}}/{{questionlist.length}}</span></progressbar>
